.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 9px 35px;
  border-radius: 50px;
  color: #fff;
  background: #333;
  font-size: 17px;

  &:hover {
    background: $pink;
  }
}

.heading {
  text-align: center;
  font-size: 40px;
  color: #333;
  padding: 10px;
  margin: 20px 0;
  background: rgba(255, 51, 153, 0.05);
  font-weight: bolder;

  span {
    color: $pink;
  }
}

.box {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
