* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  transition: 0.2s linear;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
